@using LineMonitoring.Models
@{
    ViewData["Title"] = "Employee List";
}

<div>
    <div class="card mb-3">
        <div class="card-header">
            <h3>Employee Form</h3>
        </div>
        <div class="card-body">
            <form id="employee-form" asp-controller="Employee" asp-action="AddUpdate" method="post" enctype="multipart/form-data">
                <div class="d-flex justify-content-between align-items-center">
                    <input id="employee-id" name="Id" type="text" Value="-1" class="d-none">
                    <div>
                        <input id="code" name="Code" type="text" class="form-control" placeholder="521 ID">
                    </div>
                    <div>
                        <input id="name" name="Name" type="text" class="form-control" placeholder="Employee Name">
                    </div>
                    <div>
                        <input id="batch" name="BatchId" type="text" class="form-control" placeholder="Batch ID">
                    </div>
                    <div>
                        <input id="product" name="ProductId" type="text" class="form-control" placeholder="Product ID">
                    </div>
                    <div>
                        <input id="image-url" name="ImageUrl" type="text" class="form-control" placeholder="Select picture" onclick="document.getElementById('image-loader').click()" readonly>
                        <input id="image-loader" name="Image" type="file" class="form-control" placeholder="Pincture" accept=".jpg,.jpeg,.png" hidden>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3>Employee List</h3>
        </div>
        <div class="card-body" style="height: 550px; max-height: 550px; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">521 ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Batch ID</th>
                        <th scope="col">Product ID</th>
                        <th scope="col">Picture</th>
                        <th scope="col">Option</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ((IEnumerable<Employee>)@ViewBag.Employee).Select((value, index) => new { index, value }))
                    {
                        int number = 1 + item.index;
                        <tr>
                            <th scope="row">@number</th>
                            <td>@item.value.Code</td>
                            <td>@item.value.Name</td>
                            <td>@item.value.BatchId</td>
                            <td>@item.value.ProductId</td>
                            <td>@item.value.ImageUrl</td>
                            <td>
                                <div class="d-flex flex-row justify-content-around">
                                    <div class="btn-edit" data-id="@item.value.Id">
                                        <i class="bi bi-pencil-square text-info"></i>
                                    </div>
                                    <div class="btn-delete" data-id="@item.value.Id">
                                        <i class="bi bi-trash text-danger"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/js/employee/index.js" asp-append-version="true"></script>
}
